/*Las clases por los videojuegos*/
body {
    background-color: black;
    background-image: url(https://gitlab.com/Jtorras/m08-aplicaciones-web/-/raw/main/img/videojuegos_clasicosmatrix.png), url(https://gitlab.com/Jtorras/m08-aplicaciones-web/-/raw/main/img/videojuegos_clasicosmatrix2.png);
    background-repeat: repeat-y, repeat-y;
    background-position: left top, top right;
}
h1 {
    font-family: monospace;
    color: #04c204;
    text-align: center;
    text-decoration: underline #04c204;
    margin: auto;
    letter-spacing: 10px;
}
.div1 {
    border-bottom: solid 3px #04c204;
    margin: auto;
    width: max-content; 
}
.pong {
    padding-left: 10px;
    font-family: monospace;
    margin-right: 150px;
    margin-left: 150px;
    color: white;
    background-color: #04c204;
    border: solid 2px white;
    border-bottom: 1px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 10px;
}
.Ppong {
    font-family: monospace;
    margin-right: 150px;
    margin-left: 150px;
    color: white;
    border: solid 2px white;
    padding: 4px;
    text-align: justify;
    word-spacing: 8px;
    font-size: 16px;
    padding: 15px;
    padding-bottom: 20px;
}
.Nombre {
    color: yellow;
}
.Autor {
    color: red;
}
.fecha {
    color: #04c204;
}
.imgpong {
    float: right;
    width: 350px;
    border: solid 5px white;
    outline: solid 5px #04c204;
    padding: 5px;
    margin-left: 10px;
}
.imginvader {
    float: left;
    margin-left: 150px;
    width: 300px;
    border: solid 5px white;
    outline: solid 5px #04c204;
    padding: 5px;
}
.Invader {
    padding-left: 10px;
    font-family: monospace;
    margin-right: 150px;
    margin-left: 500px;
    color: white;
    background-color: #04c204;
    border: solid 2px white;
    border-bottom: 1px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 10px;
    word-spacing: 10px;
}
.Iinvader {
    font-family: monospace;
    margin-right: 150px;
    margin-left: 500px;
    color: white;
    border: solid 2px white;
    padding: 4px;
    text-align: justify;
    word-spacing: 8px;
    font-size: 16px;
    padding: 15px;
}
.Pac-man {
    padding-left: 10px;
    font-family: monospace;
    margin-right: 150px;
    margin-left: 150px;
    color: white;
    background-color: #04c204;
    border: solid 2px white;
    border-bottom: 1px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 10px;
}
.Ppac-man {
    font-family: monospace;
    margin-right: 150px;
    margin-left: 150px;
    color: white;
    border: solid 2px white;
    padding: 4px;
    text-align: justify;
    word-spacing: 8px;
    font-size: 16px;
    padding: 15px;
}
.imgpac-man {
    float: right;
    width: 270px;
    border: solid 5px white;
    outline: solid 5px #04c204;
    padding: 5px;
    margin-left: 10px;
}
.Modificacio {
    font-family: monospace;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    border-top: solid 2px #04c204;
}
.Modificacio1 {
    font-family: monospace;
    margin-left: 150px;
    margin-right: 150px;
    color: white;
    border-bottom: solid 2px #04c204;
}
/*Por ser el primero en hacer esta practica y ayudar a mis compañeros, matricula de honor*/