/*Excepto en algunas partes del codigo que especifico que la sintaxis es abreviada, 
lo demas es no abreviada*/
/*Esto es el body*/
body {
    background-color: yellow;
    background-image: url("https://gitlab.com/Jtorras/m08-aplicaciones-web/-/raw/main/img/Degradat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
/*Cabeceras*/
  .h1 {
    background-color: lightblue;
    border-style: solid;
    border-width: 6px;
    text-align: center;
  }
  .h2 {
    background-color: lightblue;
    border-style: double;
    border-width: 6px;
    text-align: center;
  }
/*Imagen*/
  .myimage {
    float: right;
    position: fixed;
    right: 3px;
    top: 3px;
    opacity: 0.50;
  }
/*Contenido de los editores de HTML*/
  .p1 {
    border-style: dotted;
    border-width: 4px;
    background-color: rgb(128, 0, 128);
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    padding: 25px;
  }
/*Segundo contenido de HTML*/
  .p2 {
    border-style: dotted;
    border-style: dashed;
    border-bottom-color: orange;
    border-width: 8px;
    border-left: 10px solid;
    border-right: 10px solid;
    border-top-width: 5px;
    border-bottom-width: 5px;
    background-color: #ffc0cb;
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    padding: 25px;
  }
/*Tercer contenido de HTML*/
  .p3 {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    /*border con sintaxis abreviada*/
    border: 16px dotted red;
    border-left-style: solid;
    border-right-style: solid;
    border-radius: 50px;
    padding: 15px;

  }
/*Cuarto contenido de HTML*/
  .p4 {
    font: 20px verdana;
    text-align: center;
    border: 3px dashed red;
    border-top: 3px dotted blue;
    border-bottom: 3px solid red;
    padding: 15px;
  }