
body {

}

.div1 {
    padding: 40px 20px 40px 20px;
    border: 1px solid blue;
}

.div2  {
    padding: 10px 20px 30px 20px;
    border-style: solid;
    border-width: 1;

}

.h1 {
    width: 125px;
    border: 1px solid black;
    margin: auto;
}

.h2 {
    border: padding-box;: 10px 20px 10px 30px;
    border-style: groove;

}

.p1 {

}

.p2 {
    padding-left: 20%;
    padding-right: 20%;
    border: 1px dashed red;

}

.p3 {

}

.p4 {
    margin-left: 10%;
    border: 1px solid green;

}

.divD {
    height: 200px;
    width: 400px;
    margin: 50px 20px 50px 20px;
    border: 5px;
    border-style: solid;
    margin:30px;
}
