/*Las Clases estan nombrada por la cita de la pelicula. Asi es mas facil saber
de cual es la clase.*/
/*yo me pongo un 10 en esta practica*/
body {
    background-color: #9da927;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 3px 3px 0 black;
    font-size: 150%;
}
.div1 {
    border: dotted 2px white;
    width: 600px;
    margin: auto;
    padding: 5px 3px 5px 3px;
}
.star_wars {
    background-color: white;
    border: dotted 4px red;
    border-radius: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 25px;
    padding: 20px 20px 20px 20px;
    width: 550px;
    margin: auto;

}
.div2 {
    background: #fdd861;
    border: solid 10px white;
    width: 800px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.Padrino {
    font-size: 30;
    text-align: justify;
    word-spacing: 40px;
    line-height: 50px;
    color: #555555;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 5px;
    padding-right: 5px;
}
.div3 {
    background: white;
    border: dashed 8px black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 950px;
    margin-left: 49%; 
}
.ET {
    text-align: right;
    font-size: 20;
    font-weight: bold;
}
.div4 {
    background: #00487e;
    border: dashed 2px #2879aa;
    margin: auto;
    width: 625px;
    padding-left: 10px;
}
.Rhet {
    color: white;
    text-decoration:line-through;
    font-weight: bold;
}
.div5 {
    
    border: dashed 1px white;
    padding: 5px;
}
.Casablanca {
    background: #ffbfcb;
    border: double 7px black;
    padding: 10px;
    margin: 0%;
}
.div6 {
    background-color: #008016;
    border: dotted 2px white;
    margin: auto;
    text-align: center;
    width: 625px;
}
.Sherlock {
    color: white;
    padding: 10px;
    font-size: 20;
}
.div7 {
    background-color: #ff0012;
    border: solid 2px white;
    margin: auto;
    width: 625px;
    text-align: center;
    border-bottom-right-radius: 10px;
}
.Apollo {
    text-align: justify;
    text-align: center;
    word-spacing: 40px;
    color: white;
    font-size: 20;
    padding: 10px;

}
.div8 {
    background-color: black;
    border: solid 2px white;
    margin: auto;
    text-align: right;
    width: 625px;
    border-bottom-right-radius: 10px;
}
.Terminator {
    color: white;
    margin: 5px;
    direction: rtl;
    unicode-bidi: bidi-override;
}